/* all app scss styles here */
.appHolder{
    height: 100vh;
}

.message_area{
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    border-right:1px #000000 solid ;

    .message_holder{
        height: 500px;
        overflow: scroll;
    }
    .message_input{
        height: 10%;
        border-top:1px #000 solid;
        form{
            width: 100%;
            height:100%;
            input{
                width: 100%;
                padding: 2rem;
                font-size: 1.2rem;
            }
        }
    }
}
.info_area{
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    .info_general{
        height: 20%;
        background-color: #999999;
        border-bottom: 1px #000 solid;
        h1{margin-top: 0;}
    }
    .info_specific{
        height: 80%;
    }

    .chat_title_area{
        h3{display: inline-block; width: 45%; text-align: center;}
        border-bottom: 1px #000 solid;
    }

}


//Tabed areas
.tabs{
    border-bottom: 1px #000000 solid;
}

.tabs-content{
    .content{
        padding:0;
    }
}

.option_list{border-bottom: 1px #000 solid;}

.online_tab{
    .online_current_num{
        h4{text-align:center;display: inline-block; width: 45%; span{padding-left: 0.5rem;}}
        border-bottom: 1px #000 solid;

    }
    .online_expand{overflow: scroll; height: 20%;}
    .online_player{
        overflow: auto;
        border-bottom: 1px #000 solid;
        .player_photo{background-color: #bce8f1;width: 100px;height: 100px;display: inline-block; float: left;}
        .player_name{ padding-left: 0.5rem; display: inline-block;float: left;}

        &:after{
            clear: both;
        }
    }
}

.cast_tab{
    .cast_player {
        border-bottom: 1px #000000 solid;
        cursor: hand;
        .cast_basic_info {
            display: block;
            overflow: auto;
            &:after {
                clear: both;
            }
        }
        .player_photo {
            background-color: #bce8f1;
            width: 100px;
            height: 100px;
            display: inline-block;
            float: left;
        }
        .player_name {
            width: auto;
            padding-left: 0.5rem;
            display: inline-block;
            float: left;
            overflow: hidden;
            h5{
                display: inline-block;
                margin: 0 0.5rem;
            }
        }
        .cast_info_expand {
            display: none;
        }
    }
   .expand_bio{
       .cast_info_expand {
           display: block;
       }
   }


}
